@using HallOfBeorn.Models
@model SearchViewModel

@{
    ViewBag.Title = "Lord of the Rings: The Card Game - Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Cards", FormMethod.Post))
{
    <div class="form-group">
        @Html.TextBoxFor(x => x.Query, new { style="margin-right:2px;" })
        <input type="submit" value="Search" style="border-radius:8px;background-color:lightgray;" />

        <div>
            <br />
            @Html.LabelFor(x => x.CardSet, new { style="display:inline;margin-right:2px;"})
            @Html.DropDownListFor(x => x.CardSet, SearchViewModel.CardSets, new { style="margin-right:12px;" })

            @Html.LabelFor(x => x.CardType, new { style="display:inline;margin-right:2px;"})
            @Html.DropDownListFor(x => x.CardType, SearchViewModel.CardTypes, new { style="margin-right:12px;" })

            @Html.LabelFor(x => x.Sphere, new { style = "display:inline;margin-right:2px;"})
            @Html.DropDownListFor(x => x.Sphere, SearchViewModel.Spheres, new { style="margin-right:12px;" })

            @Html.LabelFor(x => x.Cost, new { style = "display:inline;margin-right:2px;"})
            @Html.DropDownListFor(x => x.Cost, SearchViewModel.Costs, new { style="margin-right:0px;" })
            <br />
            <br />
            @Html.LabelFor(x => x.Trait, new { style = "display:inline;margin-right:2px;"})
            @Html.DropDownListFor(x => x.Trait, SearchViewModel.Traits, new { style="margin-right:12px;" })

            @Html.LabelFor(x => x.Keyword, new { style = "display:inline;margin-right:2px;"})
            @Html.DropDownListFor(x => x.Keyword, SearchViewModel.Keywords, new { style="margin-right:0px;" })
            <br />
            <br />
        </div>
        <br />
        <br />
    </div>
}

@foreach (var card in @Model.Cards)
{
    <div style="margin:6px;border: 1px solid gray;border-radius: 8px;">
        <table style="margin:0px;">
            <tr>
                <td style="vertical-align:top;">
                    <a href="@Href(string.Format("/Cards/Details/{0}", @card.Id))"><img src="@card.ImagePath" style="height:160px;"/></a>
                </td>
                <td style="vertical-align:top;">
                    @Html.ActionLink(@card.FullTitle, "Details", new { id = @card.Id }, new { style="margin-top:0px;font-weight:bold;"})
                    <span>(@card.SetName)</span>
                    <div>
                        @if (@card.HasSphere)
                        {
                            <span><img style="width:20px;height:20px;margin-bottom:-4px;margin-right:10px;" src='@string.Format("/Images/{0}.png", @card.Sphere)' /></span>
                        }
                        @switch (@card.CardType)
                        {
                            case CardType.Hero:
                                <span style="width:40px;color:#616161;">Threat Cost</span><span style="margin-left:4px;font-weight:bold;">@card.ThreatCost</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/willpower.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Willpower</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/attack.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Attack</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/defense.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Defense</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;width:16px;height:16px;" src="/Images/heart.png"/></span><span style="margin-left:4px;font-weight:bold;">@card.HitPoints</span>
                                break;
                            case CardType.Ally:
                                <span style="width:50px;color:#616161;">Resource Cost</span><span style="margin-left:4px;font-weight:bold;">@card.ResourceCost</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/willpower.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Willpower</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/attack.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Attack</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/defense.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Defense</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;width:16px;height:16px;" src="/Images/heart.png"/></span><span style="margin-left:4px;font-weight:bold;">@card.HitPoints</span>
                                break;
                            case CardType.Attachment:
                                <span style="width:50px;color:#616161;">Resource Cost</span><span style="margin-left:4px;font-weight:bold;">@card.ResourceCost</span>
                                break;
                            case CardType.Event:
                                <span style="width:50px;color:#616161;">Resource Cost</span><span style="margin-left:4px;font-weight:bold;">@card.ResourceCost</span>
                                break;
                            case CardType.Treasure:
                                <span style="width:50px;color:#616161;">Resource Cost</span><span style="margin-left:4px;font-weight:bold;">@card.ResourceCost</span>
                                break;
                            case CardType.Enemy:
                                <span style="width:60px;color:#616161;">Engagement Cost</span><span style="margin-left:4px;font-weight:bold;">@card.EngagementCost</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/threat.png" /></span><span style="margin-left:4px;font-weight:bold;">@card.Threat</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/attack.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Attack</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/defense.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Defense</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;width:16px;height:16px;" src="/Images/heart.png"/></span><span style="margin-left:4px;font-weight:bold;">@card.HitPoints</span>
                                break;    
                            case CardType.Location:
                                <span style="width:60px;color:#616161;">Quest Points</span><span style="margin-left:4px;font-weight:bold;">@card.QuestPoints</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/threat.png" /></span><span style="margin-left:4px;font-weight:bold;">@card.Threat</span>
                                break;
                            case CardType.Objective:
                            case CardType.Objective_Ally:
                                if (@card.CardType == CardType.Objective_Ally || @card.HasCharacterStats)
                                {
                                <span style="width:24px;"><img style="margin-bottom:-3px;" src="/Images/willpower.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Willpower</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/attack.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Attack</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;" src="/Images/defense.gif" /></span><span style="margin-left:4px;font-weight:bold;">@card.Defense</span>
                                <span style="width:24px;margin-left:14px;"><img style="margin-bottom:-3px;width:16px;height:16px;" src="/Images/heart.png"/></span><span style="margin-left:4px;font-weight:bold;">@card.HitPoints</span>
                                }
                                break;
                            default:
                                break;
                        }
                    </div>
                    <div style="vertical-align:top;">
                        @foreach (var trait in card.Traits)
                        {
                            <i>@trait</i> @: &nbsp;
                        }
                        <br />
                        @foreach (var keyword in card.Keywords)
                        {
                            @keyword @: &nbsp;
                        }
                        <br />
                        @card.Text

                        @if (!string.IsNullOrEmpty(@card.OppositeText))
                        {
                            <br />
                            @card.OppositeText
                        }
                        @if (!string.IsNullOrEmpty(@card.Shadow))
                        {
                            <br />
                            <hr style="margin-left:24px;margin-right:24px;"/>    
                            @card.Shadow
                        }
                    </div>
                    @*
                    <table>
                        <tr>
                            <td>
                                <h3>@Html.ActionLink(@card.FullTitle, "Details", new { id = @card.Id })</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top;">
                                <div>
                                    <p>
                                        @foreach (var trait in card.Traits)
                                        {
                                            @trait @: &nbsp; &nbsp;
                                        }
                                        <br />
                                        @foreach (var keyword in card.Keywords)
                                        {
                                            @keyword @: &nbsp; &nbsp;
                                        }
                                        <br />
                                        @card.Text

                                        @if (!string.IsNullOrEmpty(@card.OppositeText))
                                        {
                                            <br />
                                            @card.OppositeText
                                        }
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>*@
                </td>            
            </tr>
        </table>
    </div>
}
