<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!--<title>@ViewBag.Title - Hall of Beorn</title>-->
        <title>Hall of Beorn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <div>
                        <a href="/Home" style=""><img src="/Images/Happy_Grizzly_Bear.jpg" width="64" height="48" /></a>
                        <span class="site-title" style="color: brown; font-family:Tolkien;">HALL OF BEORN</span>
                    </div>
                    <div style="padding-top:2px;">
                        <span style="margin-right:3px;">Card Search Engine for</span><a title="The Lord of the Rings: The Card Game" href="http://www.fantasyflightgames.com/edge_minisite.asp?eidm=129&enmi=The%20Lord%20of%20the%20Rings:%20The%20Card%20Game" target="_blank">The Lord of the Rings LCG</a>
                    </div>
                </div>
                <div class="float-right">
                    <!--
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                        -->
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Cards", "Index", "Cards")</li>
                            <li><a title="Hall of Beorn Blog" href="http://hallofbeorn.wordpress.com" target="_blank">Blog</a></li>
                            <li><a title="The Grey Company Podcast" href="http://greycompanypodcast.wordpress.com/" target="_blank">Podcast</a></li>
                            @*<li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Hall of Beorn</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
