@using HallOfBeorn.Models
@model SearchResult

@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>

@using (Html.BeginForm("Search", "Catalog", FormMethod.Post))
{
    <div class="form-group">
        @Html.TextBoxFor(x => x.Query)
        <input type="submit" value="Search" />

        @*
        <div>
        @Html.CheckBoxFor(x => x.IsAdvancedSearch, new { style = "display: inline;" })
        @Html.LabelFor(x => x.IsAdvancedSearch, new { style = "display: inline;" })
        </div>
        *@

        <div>
            <label>Advanced Search</label>
            <br />
            @Html.LabelFor(x => x.CardType, new { style="display:inline;"})
            @Html.DropDownListFor(x => x.CardType, SearchResult.CardTypes)

            @Html.LabelFor(x => x.CardSet, new { style="display:inline;"})
            @Html.DropDownListFor(x => x.CardSet, SearchResult.CardSets)
        </div>
        <br />
        <br />
    </div>
}

@foreach (var card in @Model.Cards)
{
    <div style="width:800px;height:165px;clear:both;">

        <div style="float:left;margin-right:10px;overflow:hidden;height:164px;width:119px;">
            <img src="@Url.Content(string.Format("~/Images/Cards/{0}.png", @card.ImageName))" style="height:160px;width:115px;"/>
        </div>
    
        <div style="float:left;margin-right:10px;overflow:hidden;height:170px;width:600px;">
            <section>
            <header>
                <h3><a href="@Url.Content(string.Format("~/Catalog/Show/{0}", @card.Id))">@card.Title</a></h3>
            </header>
            <p>
                @foreach (var keyword in card.Keywords)
                {
                    @keyword
                    <br />
                }
                <br />
                @card.Text

                @if (!string.IsNullOrEmpty(@card.OppositeText))
                {
                    <br />
                    @card.OppositeText
                }
            </p>
            </section>
        </div>

    </div>
}
