@using HallOfBeorn.Models
@model Card

@{
    ViewBag.Title = "Card Detail";
}

<h2>@Model.Title</h2>
<img src="@Url.Content(string.Format("~/Images/Cards/{0}.png", @Model.Id))" style="float:left;margin-right:10px;"/>
@if (@Model.CardType == CardType.Hero)
{
<table>
    <tr>
        <td>Threat Cost</td>
        <td>@Model.ThreatCost</td>
    </tr>
    <tr>
        <td>Willpower</td>
        <td>@Model.Willpower</td>
    </tr>
    <tr>
        <td>Attack</td>
        <td>@Model.Attack</td>
    </tr>
    <tr>
        <td>Defense</td>
        <td>@Model.Defense</td>
    </tr>
    <tr>
        <td>Hit Points</td>
        <td>@Model.HitPoints</td>
    </tr>
    <tr>
        <td>Traits</td>
        <td>@Model.TraitList</td>
    </tr>
    <tr>
        <td colspan="2">Text</td>
    </tr>
</table>
<p>
    @foreach (var keyword in @Model.Keywords)
    {
        @keyword
        <br />
    }
    <br />
    @Model.Text
</p>
}
@if (@Model.CardType == CardType.Quest)
{
<table>
    <tr>
        <td>Scenario</td>
        <td>@Model.EncounterSet</td>
    </tr>
    <tr>
        <td>Quest Points</td>
        <td>@Model.QuestPoints</td>
    </tr>
</table>
<p>
    @foreach (var keyword in @Model.Keywords)
    {
        @keyword
        <br />
    }
    <br />
    @Model.Text
</p>
}
@if (@Model.CardType == CardType.Location)
{
<table>
    <tr>
        <td>Traits</td>
        <td>@Model.TraitList</td>
    </tr>
    <tr>
        <td>Quest Points</td>
        <td>@Model.QuestPoints</td>
    </tr>
</table>
<p>
    @foreach (var keyword in @Model.Keywords)
    {
        @keyword
        <br />
    }
    <br />
    @Model.Text
</p>
}
